@import 'variables';

.c-plan-simulation-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    @include typography;
    font-size: $medium-font-size;
    color: $brand-color-primary;
    margin-bottom: $small-spacing;

    @media (max-width: 600px) {
      font-size: $small-font-size;
      margin-top: $medium-spacing;
    }

    span {
      @include bold-typography;
    }
  }

  &__content {
    border-radius: $medium-border-radius;
    padding: $medium-spacing $huge-spacing $huge-spacing;
    background-color: $white;
    box-shadow: 0 $tiny-spacing $medium-spacing rgba(67, 75, 80, 0.08);
    max-width: 480px;

    @media (max-width: 600px) {
      padding: $small-spacing $small-spacing $large-spacing;
    }
  }

  &__heading {
    display: flex;
    margin-bottom: $small-spacing;

    @media (max-width: 600px) {
      margin-bottom: $extra-small-spacing;
    }

    &-texts {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 0.7rem;
      padding: 0.3rem;

      &--goal {
        @include heading-bold-typography;
        font-size: $large-font-size;
        color: $blue-gray-900;

        @media (max-width: 600px) {
          font-size: $medium-font-size;
        }
      }

      &--label {
        font-size: $extra-small-font-size;
        color: $blue-gray-400;
        margin: $extra-tiny-spacing 0;

        @media (max-width: 600px) {
          font-size: $tiny-font-size;
          margin: 0 0 $extra-tiny-spacing;
        }
      }
    }
  }

  &__inputs {
    display: flex;
    gap: $tiny-spacing;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    &-label {
      font-size: $tiny-font-size;
      color: $blue-gray-900;
      margin-bottom: $further-tiny-spacing;

      @media (max-width: 600px) {
        font-size: $extra-tiny-font-size;
        margin-bottom: $extra-tiny-spacing;
      }
    }
  }

  &__amount-input {
    display: flex;
  }

  &__results {
    @include medium-border;
    overflow: hidden;
    margin-top: $small-spacing;

    &-monthly {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $small-spacing $medium-spacing $tiny-spacing;

      @media (max-width: 600px) {
        padding: $small-spacing $small-spacing;
      }

      &--label {
        font-size: $medium-font-size;
        color: $blue-gray-900;

        @media (max-width: 600px) {
          font-size: $small-font-size;
        }
      }

      &--value {
        @include heading-bold-typography;
        font-size: $huge-font-size;
        color: $brand-color-secondary;

        @media (max-width: 600px) {
          font-size: $large-font-size;
        }
      }
    }

    &-description {
      background-color: $blue-gray-10;
      padding: $small-spacing $medium-spacing;

      &--text {
        font-size: $extra-tiny-font-size;
        color: $blue-gray-900;

        @media (max-width: 600px) {
          text-align: center;
        }

        span {
          @include bold-typography;
        }
      }
    }
  }

  &__submit {
    display: flex;
    justify-content: center;
    margin-top: $medium-spacing;

    &-button {
      @include button-border;
      @include bold-typography;
      font-size: $extra-small-font-size;
      cursor: pointer;
      height: 3.5rem;
      width: 66%;
      color: $white;
      background-color: $brand-color-primary;

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
