// colors

$white: #fff;
$border-color: #e9eef2;
$blue-gray-10: #f4f8fa;
$blue-gray-100: #cbd5dc;
$blue-gray-300: #8a9ca9;
$blue-gray-400: #708797;
$blue-gray-600: #4d6475;
$blue-gray-900: #1e2a32;
$brand-color-primary: #1b31a8;
$brand-color-secondary: #0079ff;

// font-sizes

$extra-tiny-font-size: 12px;
$tiny-font-size: 14px;
$extra-small-font-size: 16px;
$small-font-size: 18px;
$medium-font-size: 20px;
$large-font-size: 24px;
$huge-font-size: 32px;

// spacings

$extra-tiny-spacing: 4px;
$further-tiny-spacing: 8px;
$tiny-spacing: 16px;
$extra-small-spacing: 20px;
$small-spacing: 24px;
$medium-spacing: 32px;
$large-spacing: 36px;
$huge-spacing: 40px;

// borders

$small-border-radius: 4px;
$medium-border-radius: 8px;
$large-border-radius: 32px;

@mixin small-border {
  border: 1px solid $border-color;
  border-radius: $small-border-radius;
}

@mixin medium-border {
  border: 1px solid $border-color;
  border-radius: $medium-border-radius;
}

@mixin button-border {
  border: unset;
  border-radius: $large-border-radius;
}

// typography

@mixin heading-typography {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

@mixin heading-bold-typography {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

@mixin typography {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

@mixin bold-typography {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}

// defaults

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  @include heading-typography;
}

p {
  margin: 0;
  @include typography;
}
